# Copie ce fichier en .env et remplis les valeurs

# Flask
SECRET_KEY=change-me-with-a-long-random-string
FLASK_ENV=development

# Base de données (laisser vide en dev pour utiliser SQLite)
DATABASE_URL=

# Blog
BLOG_TITLE=Mon Blog Tech
BLOG_DESCRIPTION=Articles techniques, projets et réflexions sur le développement logiciel.
BLOG_AUTHOR=Ton Nom
BLOG_URL=http://localhost:5000

# Admin (utilisé par seed.py)
ADMIN_USERNAME=ibrahima     
ADMIN_EMAIL=ibrahimathiongane2006@gmail.com
ADMIN_PASSWORD=Ibt123
